name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Check Azure Account
        run: az account show -o json

      - name: Get Key Vault Secrets (AZ CLI)
        id: get_secrets
        run: |
          APIKEY=$(az keyvault secret show \
            --vault-name ${{ secrets.KEY_VAULT_NAME }} \
            --name ApiKey \
            --query value -o tsv)

          APIURL=$(az keyvault secret show \
            --vault-name ${{ secrets.KEY_VAULT_NAME }} \
            --name ApiUrl \
            --query value -o tsv)

          echo "API_KEY=$APIKEY" >> $GITHUB_OUTPUT
          echo "API_URL=$APIURL" >> $GITHUB_OUTPUT

      - name: Build and Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_WATER_0F5FB840F }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"

          app_location: "App"
          api_location: "Middleware"
          output_location: "dist"

          app_settings: |
            BACKLOG_API_KEY=${{ steps.get_secrets.outputs.API_KEY }}
            BACKLOG_API_URL=${{ steps.get_secrets.outputs.API_URL }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job

    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_WATER_0F5FB840F }}
          action: "close"
